
.wrapper-game-info{
    margin: 3% 20% 0;
    display: flex;
    flex-direction: column;
}

.game-info > div{
    color: aliceblue;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0 10px 0;
}

img{
    width: 700px;
}
